*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    
    background:url('https://images.pexels.com/photos/1287142/pexels-photo-1287142.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: deeppink;
    font-family: Helvetica;


}
nav{
    background-color: rgb(255, 0, 221);
    width: 100%;
}
.menu{
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.lista a{
    text-decoration: none;
    color: black;
    display: block;
    padding: 15px 50px;


}

.menu .lista{
    display: inline-block;
}

.lista-r{
    float: right;
}
.lista a:hover{

    background-color: deepskyblue;
}
main{
    text-align: center;
}
img{
    margin-top: 10px;
    border-radius: 50%;
    height: 150px;
    width: 150px;
      border: 10px solid white;
}
p{

    font-size: 22px;
    font-weight: 600;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
input{
    border: 0;
    padding: 10px;
    font-size: 18px;
    margin: 5px;
    background-color: rgb(92, 230, 230);
}
label{
    font-size: 22px;
    font-weight: 600;
}
#textarea{
    border: 0;
    font-size: 18px;
    margin: 5px;
    background-color:rgb(208, 255, 0);
    color:cornsilk;
}
button[type="submit"]{
    background: pink;
    color: black;
    padding: 10px;
    font-family: 10px;
    font-family:20px ;
    font-weight: 600;
    border-radius: 5px;
}
input ::placeholder{
    color: white;
}

input:focus{
    outline: none;
    background-color: rgb(220, 20, 60);
}



